* {
	margin:0;
	padding:0;
}

body {
background:#FFFFFA;
}
a{
	text-decoration: none;
}
header {
	width:100%;
}

header nav {
	width:90%;
	max-width:1000px;
	margin:20px auto;
    background:#fc6602;
    z-index: 10;
}

.menu_bar {
	display:none;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:left;
	border-right:2px solid #e9e9e9;;
}
header nav ul li ul{
	position: absolute;
	z-index: 999;
}
header nav ul li ul li{
	float: none;
	display: none;
}
header nav ul li ul li a{
	background-color: #494949;
	color: #e9e9e9;
	display: block;
	float: none;
	border-bottom: 2px solid #e9e9e9;
}
header nav ul li ul li a span{
	margin-left: 10px;
}
header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}

header nav ul li a span {
	margin-left:10px;
}

header nav ul li a:hover {
    background:#fff;
    text-decoration: none;
    transition: all 300ms;
}

/*fin menu estilos*/
section {
	padding:20px;
}
.box{
    left: -60px;
    min-width: 110px;
}
#clock{
    color:#fff;
	padding:15px;
	display:block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
/*estilos de perfil*/
.bt-perfil, .bt-direccion{
	width: 100%;
	display: block;
	max-width: 600px;
}
.bt-perfil span, .bt-direccion span{
	float: right;
}
.perfil, .puesto{
 width: 100%;
 max-width: 600px;
 background-color:#eee;
 margin: 0 auto;
 border: 1px solid #494949;
 border-radius: 3px;
}
.perfil .titulo_perfil{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: -20px;

}
.perfil .foto_perfil{
	width: 40%;
	float: left;
	/*border: 1px solid red;*/
}
.perfil .foto_perfil img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-top: 50px;

}
.perfil .informacion_perfil{
	width: 60%;
	float: right;
	/*border: 1px solid blue;*/
}
.perfil .direccion_perfil{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
	border-bottom: 5px solid #fc6602;
	/*border: 1px solid blue;*/
}
.perfil .informacion_perfil .fecha_perfil,
.perfil .informacion_perfil .datos_perfil, 
.perfil .informacion_perfil .numeros_perfil{
	border-bottom: 2px solid #494949;
	margin-bottom: 5px;
	width: 70%;
}
.perfil .informacion_perfil .fecha_perfil h5,
.perfil .informacion_perfil .datos_perfil h5, 
.perfil .informacion_perfil .numeros_perfil h5{
 background-color: #024959;
 color: #fff;
 padding-top: 3px;
 padding-bottom: 3px;
 font-weight: bold;


}
.perfil .direccion_perfil .fecha_perfil,
.perfil .direccion_perfil .datos_perfil, 
.perfil .direccion_perfil .numeros_perfil{
	border-bottom: 2px solid #494949;
	margin-bottom: 5px;
	width: 70%;
}
.perfil .direccion_perfil .fecha_perfil h5,
.perfil .direccion_perfil .datos_perfil h5, 
.perfil .direccion_perfil .numeros_perfil h5{
 background-color: #024959;
 color: #fff;
 padding-top: 3px;
 padding-bottom: 3px;
 font-weight: bold;

}
/*estilos de perfil*/
/*estilos de puesto*/
.puesto .tiulo_puesto{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	background-color: #024959;
}
.puesto .tiulo_puesto h5{
	font-weight: bold;
	font-size: 18px;
	color: #fff;
}
.puesto .datos_1_puesto{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	background-color: #024959;
	margin-bottom: 98px;
} 
.puesto .datos_1_puesto .bloque{
	display: block;
	width: 50%;
	float: left;
}
.puesto .datos_1_puesto .bloque h5{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	background-color: #024959;
}
.desc_puesto{
	width: 90%;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.desc_puesto h5{
	height: 20px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	background-color: #024959;
}
/*estilos de puesto*/
/*estilos de general*/
#objetivos_usuario, #vacaciones_usuario, #documenos_doctos{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
/*estilos de general*/


html, body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
  }

  #calendar-container {
	width: 100%;
	max-width: 1000px;

	margin: 0 auto;
  }
  .fc-day-number{
	  color: #000000;
  }

  .fc-header-toolbar {
    /*
    the calendar will be butting up against the edges,
    but let's scoot in the header's buttons
    */
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }



@media screen and (max-width:800px ) {
	header nav {
		width:60%;
		height:auto;
		left:-100%;
		margin:0;
		position: absolute;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
    }
    header nav ul li a span{
        float: right;
    }

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#fc6602;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
    }
    

	.menu_bar span {
		float:right;
		font-size:30px;
	}

    .perfil .foto_perfil{
		width: 100%;
	}
	.perfil .informacion_perfil{
		width: 100%;
	}
}