.mover{
    margin: 0 auto;
    margin-top: 50px;
    width: 85%;
    height: 150px;
    background: rgba(0,0,0,.5);
    color: #494949;
    border: 5px solid #494949;
    text-align: center;
    font-family:serif;
    font-size: 15px;
    padding: 15px 15px;
    overflow-y: scroll;
    margin-bottom: 150px;
}