*{  
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #e9e9e9;
}
.menu-movil{
    display: none;
}

.lista{
    width: 30%;
    min-width: 400px;
    height: auto;
}
.lista .menu{ 
     width: auto;
    height: auto;
    background-color: #FF5904;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.lista .menu .pildora{
    display: block;
    margin-left: 25px;
    border-radius: 5px;
    transition: all 400ms;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0px 0px 10px #494949;
}
.lista .menu .pildora:last-child{
    margin-right: 17px;
}
.lista .menu .pildora a{
    display: block;
    text-decoration: none;
    color: white;
}
.lista .menu .pildora:hover > a{
    transition: all 400ms;
    background: #ccc;
    font-weight: bold;
    text-decoration: none;
    color: #FF5904;
    transform: scale(1.2,1.2);
    animation-delay: all 400ms;
}
.nav-tabs>li.active>a{
    background-color: darkgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}
#contenedor{ 
    width: 100%;
    height: auto;
}
#contenedor #Usuarios{
    background-color: #ccc;
    margin: 0 auto;
    padding: 10px 15px;
}
.titulo{
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    background-color: #20B2AA;
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    padding: 10px;
    font-weight: bold;
    width: 30%;
    min-width: 300px;
    border-radius: 5px;
}
#boton_add{
    float: left;
}

/*Estilos datatables*/
.dt-buttons{
	float: right;
}
.buttons-copy, .buttons-excel , .buttons-pdf {
    color: white;
    background-color: #024959;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}
#usuarios_length, #empleados_legth, #direccion_legth{
    float: left;
    margin-right: 50px;
    margin-top: 5px;
    color: white;
    background-color: #024959;

    padding: 5px 5px;
    border-radius: 5px;
    
} 
#usuarios_length select, #empleados_length select, #direccion_length select{
    color: #024959;
}
#usuarios_filter, #empleados_filter, #direccion_filter{
    float: left;
    margin-left: 30%;
    color: white;
    background-color: #337ab7; 

    padding: 5px 5px;
    border-radius: 5px;
}
#usuarios_filter input[type="search"], #empleados_filter input[type="search"], #direccion_filter input[type="search"]{
    background-color: transparent;
    border: unset;
    border-bottom: 2px solid white;
}
#usuarios_filter input[type="search"]:focus, #empleados_filter input[type="search"]:focus , #direccion_filter input[type="search"]:focus{
    border: 2px solid white;
}
#usuarios_paginate, #empleados_paginate , #direccion_paginate{
    padding: 10px 15px;
    text-align: center;
    display: block;
}
#usuarios_first,#usuarios_previous, #usuarios_next, #usuarios_last,
#empleados_first,#empleados_previous, #empleados_next, #empleados_last, 
#direccion_first,#direccion_previous, #direccion_next, #direccion_last{
    padding: 10px 15px;
    margin-right: 10px;
    color: #000;
    font-weight: bold;
}
#usuarios_first:hover,#usuarios_previous:hover, #usuarios_next:hover, #usuarios_last:hover,
#empleados_first:hover,#empleados_previous:hover, #empleados_next:hover, #empleados_last:hover,
#direccion_first:hover,#direccion_previous:hover, #direccion_next:hover, #direccion_last:hover{
    
    border: 2px solid white;
    text-decoration: none;
}
/*Estilos datatables fin*/
/*Tabla inicio*/
#usuarios > thead > tr > th,#usuarios > tfoot > tr > th,
#empelados > thead > tr > th,#usuarios > tfoot > tr > th,
#direccion > thead > tr > th,#direccion > tfoot > tr > th{
text-align: center;
}
.item{
    display: block;
    color: #494949;
    margin-left: 15px;
    width: auto;
}
.box{
    min-width: 110px;
    width: 111px;
    max-width: 112px
}
.item:hover{
    color: #024959;
    text-decoration: none;
}
/*Tabla fin*/
