*{  
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #e9e9e9;
}
.menu-movil{
    display: none;
}

.lista{ 
    width: 33%;
    min-width: 360px;
    height: auto;
}
.lista .menu{ 
     width: auto;
    height: auto;
    background-color: #FF5904;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.lista .menu .pildora{
    display: block;
    margin-left: 25px;
    border-radius: 5px;
    transition: all 400ms;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0px 0px 10px #494949;
}
.lista .menu .pildora:last-child{
    margin-right: 17px;
}
.lista .menu .pildora a{
    display: block;
    text-decoration: none;
    color: white;
}
.lista .menu .pildora:hover > a{
    transition: all 400ms;
    background: #ccc;
    font-weight: bold;
    text-decoration: none;
    color: #FF5904;
    transform: scale(1.2,1.2);
    animation-delay: all 400ms;
}
.nav-tabs>li.active>a{
    background-color: darkgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}
#contenedor{
    width: 100%;
    height: auto;
}
#contenedor #area{
    background-color: #ccc;
    margin: 0 auto;
    padding: 10px 15px;
}
.titulo{
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    background-color: #20B2AA;
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    padding: 10px;
    font-weight: bold;
    width: 30%;
    min-width: 300px;
    border-radius: 5px;
}
#boton_add{
    float: left;
}

/*Estilos datatables*/
.dt-buttons{
	float: right;
}
.buttons-copy, .buttons-excel , .buttons-pdf {
    color: white;
    background-color: #337ab7;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}
#area_length,#categoria_legth, #antiguedad_legth {
    float: left;
    margin-right: 50px;
    margin-top: 5px;
    color: white;
    background-color: #337ab7;

    padding: 5px 5px;
    border-radius: 5px;
    
} 
#area_length select, #categoria_length select, #antiguedad_length select{
    color: #337ab7;
}
#area_filter, #categoria_filter, #antiguedad_filter{
    float: left;
    margin-left: 30%;
    color: white;
    background-color: #337ab7;
 
    padding: 5px 5px;
    border-radius: 5px;
}
#area_filter input[type="search"], #categoria_filter input[type="search"],  #antiguedad_filter input[type="search"]{
    background-color: transparent;
    border: unset;
    border-bottom: 2px solid white;
}
#area_filter input[type="search"]:focus, #categoria_filter input[type="search"]:focus, #antiguedad_filter input[type="search"]:focus {
    border: 2px solid white;
}
#area_paginate, #categoria_paginate , #antiguedad_paginate, #consulta_paginate{
    padding: 10px 15px;
    text-align: center;
    display: block;
}
#area_first,#area_previous, #area_next, #area_last,
#categoria_first,#categoria_previous, #categoria_next, #categoria_last,
#antiguedad_first,#antiguedad_previous, #antiguedad_next, #antiguedad_last,
#consulta_first,#consulta_previous, #consulta_next, #consulta_last{
    padding: 10px 15px;
    margin-right: 10px;
    color: #000;
    font-weight: bold;
}
#area_first:hover,#area_previous:hover, #area_next:hover, #area_last:hover,
#categoria_first:hover,#categoria_previous:hover, #categoria_next:hover, #categoria_last:hover,
#antiguedad_first:hover,#antiguedad_previous:hover, #antiguedad_next:hover, #antiguedad_last:hover,
#consulta_first:hover,#consulta_previous:hover, #consulta_next:hover, #consulta_last:hover{
    
    border: 2px solid white;
    text-decoration: none;
}
/*Estilos datatables fin*/
/*Tabla inicio*/
#area > thead > tr > th,#area > tfoot > tr > th,
#categoria > thead > tr > th,#categoria > tfoot > tr > th{
text-align: center;
}
.item{
    display: block;
    color: #494949;
    margin-left: 15px;
    width: auto;
}
.box{
    min-width: 110px;
    width: 111px;
    max-width: 112px
}
.item:hover{
    color: #337ab7;
    text-decoration: none;
}
/*Tabla fin*/