body{ 
    background-color: #e9e9e9;
}
.contendor{    
    background: #ccc;
    width: 100%;
    height: auto;
}
.contenedor .logo {
    width: 80%;
}
.contenedor .logo img{
    width: 100%;
}
.contendor .logout{
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    background: #ccc;
    color:#494949;   
}
li {
    margin: 0px;
    padding: 0px;
    
}
ul {
    margin: 0px;
    padding: 0px;
}
.contendor .menu{
    background: #FF5904;
    color: #e9e9e9;
    margin-top: 15px;
    text-decoration: none;
    border: solid 5px #A79B95;
     height: auto;
}
.contendor .menu ul{
    list-style: none;
    width: 100%;
    height: auto;
    
}
.contendor .menu ul li{
    background-color: transparent;
    width: auto;
   /* margin-left: -40px;*/
}
.contendor .menu ul li:last-child{
    margin-top: 30px;
}
.contendor .menu ul li a{
    display: block;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 2px 10px #494949;
}
.contendor .menu ul li a:hover{
    transition: all 400ms;
    background: #ccc;
    color: #FF5904;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}
#clock{
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 3px;
    text-align: center;
    background: #ccc;
    color:#494949;
    font-weight: bold;   
}
