#contenedor_carga{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;

    margin: 0 auto;

    overflow: hidden;
}
#carga{
    border: 10px solid #ccc;
    border-top-color: #00408a;
    border-bottom-color: #00408a;
    height: 200px;
    width: 200px;
    border-radius: 100%;

    margin: 80px auto;

    animation: girar 0.9s linear infinite;
}
#carga_int{
    border:9px solid #ccc;
    border-right-color: #00408a;
    border-left-color: #00408a;
    height: 175px;
    width: 175px;
    border-radius: 100%;

    margin: 0px auto;

    animation: interno 0.4s linear infinite ;
}
@keyframes girar{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg); } 
}
@keyframes interno{
    0%{ transform: rotate(360deg);}
    100%{ transform: rotate(0deg); } 
}