header{
    display: block;
    position: fixed;
    width: 100%;
    background-color: #00408a;
}
a{
    text-decoration: none;
    color:#fff
}
a:hover{
    text-decoration: none;
    color:#fff
}
.clearfix{
    clear: both;
    overflow: auto;
}
.menu{
    display: inline-block;
    padding: 5px;
}
.opciones{
    display: block;
    padding: 8px;
    float: right;
}

.menu button[type="button"], .opciones button[type="button"]{
    background-color: transparent;
    border: 2px solid darkgray;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    padding-top: 3px;
    transition: all 0.4s;
}
.menu button[type="button"] .icon{
    font-size: 25px;
}
.menu button[type="button"] #titulo{
    font-weight: bold;
    margin-top: -7px;
    text-transform: uppercase;
}
.opciones #reloj{
    display: inline-block;
    background-color: transparent;
    border: 2px solid darkgray;
    border-radius: 3px;
    color:#fff;
    font-size: 20px;
    padding-left: 3px;
    padding-right: 3px;
}
.opciones  button[type="button"] #carga-notificaciones{
   display: inline-block; 
}
#btn-off{
    display: inline-block;
}
#btn-off:hover{
    transition: all 0.4s;
    transform: scale(1.1);
    color:#fff;
    background-color: #ff0000;
}
#contenido-todo{
    display: block;
    position: absolute;
}
/*menu lateral*/
#contenido-menu{
    display: block;
    position: fixed;
    width: 250px;
    height: 100%;
    top: 49px;
    transition: all 0.5s;
    background-color: #00408a;
    border:2px solid #e9e9e9;
    border-radius: 5px;
    padding: 10px;
}
#contenido-menu ul{
    list-style: none;
    padding-left: 0px;
}
#contenido-menu ul li{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #e9e9e9;
}
#contenido-menu ul li a{
    display: block;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 2ms;
}
#contenido-menu ul li:hover a{
    background-color: #e9e9e9;
    color: #494949;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    transition: all 3ms;
    transform: scale(1.1);
}
.is-active a{
    background-color: #e9e9e9 !important;
    color: #494949 !important;
    padding: 5px !important;
    text-decoration: none;
    font-weight: bold;
}
#contenido-menu ul li a span{
    float: right;
}
/*menu lateral*/
#contenido-general{
    display: block;
    position: fixed;
    width: 100%;
    height: calc(100% - 50px)!important;
    top: 49px;
    overflow: hidden;
    transition: all 0.5s;
    border: 3px solid #00408a;
    background-color: #e9e9e9;
    overflow-y: scroll !important;
}

.abrir{
    transform: translateX(250px);
    width: calc(100% - 250px) !important;
}

/* estilos notificaciones*/
#notificaciones{
display: none;
position: fixed;
top: 50px;
right: 10px;
width: 0px;
height: 0px;
z-index: 1;
background-color: #fff;
}
#notificaciones a{
    color: #494949;
}
.abrir-notificacion{
    display: block !important;
    width: 200px !important;
    height: auto !important;
    padding: 5px;
    border: 3px solid #00408a;
    border-radius: 3px;
}
/* estilos notificaciones*/
/*estilo modal error*/
.modal-backdrop{
    z-index: -1 !important;
}
/*estilo modal error*/
/*estilos datatables*/
.dataTables_filter{
    width: 40%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #00408a;
    border-radius: 5px;
}
.dataTables_filter input[type="search"]{
    background-color: transparent;
    border: unset;
    border-bottom: 2px solid white;
}
.dataTables_paginate{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: center;
    align-items: start;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.dataTables_paginate .first, .dataTables_paginate .previous, .dataTables_paginate .next, .dataTables_paginate .last{
    padding: 5px 15px;
    color: #000;
}
.dataTables_paginate .first:hover, .dataTables_paginate .previous:hover, .dataTables_paginate .next:hover, .dataTables_paginate .last:hover{
    padding: 5px 15px;
    color: #000;
    border:1px solid #ccc;
    font-weight: bold;
}
.dt-buttons{
	float: right;
}
.buttons-copy, .buttons-excel , .buttons-pdf {
    color: white;
    background-color: #00408a;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}
.box{
    min-width: 80px;
    width: 81px;
    max-width: 82px;

    padding-left: 5px;  
}
/*estilos datatables*/
/*estilos panel grafico*/
#grafico{
    border: 2px solid #494949;
    border-radius: 5px;
}
/*estilos panel grafico*/