 #titulo_evaluacion{
    background-color: #337ab7;
    color: #ffffff; 
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
 }
 #cuerpo_evaluacion{
     width: 80%;
     height: 480px;
     margin: 0 auto;
     margin-top: 10px;
     border: 3px solid #494949;
     border-radius: 5px;
     padding: 10px;
     overflow: hidden;
     overflow-y: scroll;
 }
 .izq{
     text-align: left !important;
 }
 .der{
    float: right;
 }
