*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #cecece;
}
#contenido{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}
#img-logo{
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#logo{
    width: 70%;
    margin: 0 auto;
}
#desc{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
}
#texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
}
#link{
    margin: 0 auto;
}
#continuar{
    display: block;
    width: 60%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    background-color: #428bca;
    border: 1px solid #428bca;
    transition: all 0.4s;
}
#continuar:hover{
    color:#428bca;
    background-color:#fff;
    transition: all 0.4s;
}