header{
    position: absolute;
    width: 250px;
    height: 100%;
    background-color: #ccc; /* cambiar */
    color: #fff;
    border-right: 3px solid #bebebe;
} 
#contenido_general{ 
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #eee;
    transition: all 0.3s;
    min-height: 100vh;
    background-image: url(../img/logo-nuevo.jpeg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    background-attachment: fixed;
    
    z-index: 0;
}
#contenido_general::before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(90deg, #ccc, #ccc);

    opacity: 0.8;
    
    z-index: -1;
}
.modal-backdrop{
    z-index: -1;
  }

.abrir{
    transform: translateX(250px);
}

#bt_menu_new{
    width: 35px;
    height: 35px;
    display: block;
    background-color: #00408a; /* cambiar  |||| color azul 00408a |||color naranja ef7f01 */ 
    padding: 1px;
    text-align: center;
    color: #eee;
    font-size: 25px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius:2px;
    margin-left: -5px;
}
.bt-marcadores{
    margin-top: 5px;
    margin-bottom: 5px;
     background-color: #00408a;
}
#layout{
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/

    flex-flow: row wrap;
    height: 130px;
    align-items: flex-start;
}
.caja{
   flex-grow: 1;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.bt-m{
    flex-basis: 5%;
}
.marcador-m{
    flex-basis: 95%;
}

nav ul li{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #bebebe;
    background-color: #00408a; /* cambiar */
}
nav ul li a{
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
}
nav ul li a span{
	margin-left: 10px;
}
nav ul li ul li a span{
	margin-left: 10px;
}
nav ul li ul li a{
	background-color: #ef7f01;  /* cambiar */
	color: #e9e9e9;
	display: block;
	float: none;
	border-bottom: 1px solid #e9e9e9;
}
nav ul li a:hover {
    background:#fff;
    text-decoration: none;
    transition: all 300ms;
}
#clock{
    color:#fff;
	padding:15px;
	display:block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.fc-head, .fc-body{
    background-color: rgba(0,0,0,0.2);
}
.fc-day-number, .fc-day-header{
    color: #fff;
}