body{   
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: red;
        
}
.login-box{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}
.login-box a{
    background-color: #fff;
}
.cryo{ 
    width: 200px;
    height: 100px;
    border-radius: 30%;
    position: absolute;
    top: -50px;
    left: 20%;
    background-color: #fff;
}
h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center; 
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box .txt{
    border: none;
    border-bottom: 5px solid #fff;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px; 
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}

   


























































