#contenedor_carga{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;

    margin: 0 auto;

    overflow: hidden;
}
#carga{
    border: 10px solid #ccc;
    border-top-color: #00408a;
    border-bottom-color: #00408a;
    height: 150px;
    width: 150px;
    border-radius: 100%;

    margin: 80px auto;

    animation: girar 0.9s linear infinite;
}
@keyframes girar{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg); }

    
}