*{
padding:0;
margin: 0;
}
body{
    width: 100%;
}
#all{
    width: 60vw;
    min-width: 300px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    
    background-color: #e9e9e9;
    border: 1px solid #494949;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
}
#all .desc h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
#seccion-empleado, #seccion-problema{
    border: 1px solid gray;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
}
#seccion-empleado h4, #seccion-problema h4{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.logo{
    width: 50%;
    margin: 0 auto;
}
.logo img{
    width: 50%;
}
.desc{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.desc h2{
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;

    color: gray;

    text-shadow: 1px 1px 0px #e9e9e9;
    text-transform: uppercase;
}
#msj{
    width: 50%;
    min-width: 250px;
    margin: 0 auto;
}
#msj #bt-c{
    margin-top: -25px;
}
.form{
    width: 50%;
    min-width: 250px;
    margin: 0 auto;
    text-align: center;
}
.form textarea{
    resize: none;
}
@media (max-width: 1400px) {
    .logo{
        width: 75%;
        margin: 0 auto;
    }
}
@media (max-width: 850px) {
    .logo{
        width: 100%;
    }
    .desc{
        width: 90%;
    }
  }