.clearfix:after { 
    content: "";
    clear: both;
  }
   
  body {
    position: relative;
    width: 21cm;  
    height: 29.7cm; 
    margin: 0 auto; 
    color: #001028;
    background: #ffffff; 
    font-family: Arial, sans-serif; 
    font-size: 12px; 
    font-family: Arial;
  }
  .logo{
    width: 100%;
  }
  .logo .int_logo{
    width: 50%;
    margin: 0 auto;
  }
  .cabeza{
   border-radius: 10px;
  }
  .cabeza .izq{
    width: 34%;
    float: left;
    left: 0px;
    text-align: center;
    border-right: 5px solid #000;
     background-color: #fdfbfb;
  }
  .cabeza .der{
    width: 64%;
    float: right;
    right: 0px;
    text-align: center;
    border-left: 5px solid #000;
    padding-bottom: 6px;
    background-color: #e9e9e9;
    margin-top: 15px;
    padding-top:10px;
    padding-bottom:10px;
  }

  .contenedor{
      width: 80%;
  }
  .contenedor .logo{
      width: 100%;
  }
  .contenedor .logo #logo{
      width: 100%;
      border: 1px solid blue;
  }
  
   
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  table tr:nth-child(2n-1) td {
    background: #F5F5F5;
  }
  
  table th, table td { 
    text-align: center;
  }
  
  table th {
    padding: 5px 20px;
    color: #5D6975;
    white-space: nowrap;        
    font-weight: normal;
  }
  .Tronco-Comun{
    border: 2px solid #000;
  }
  .Acotacion{
    width: 70%;
    margin:0 auto;
    border:2px solid #000;
  }
  .estadistica{
    border: 2px solid #000;
  }
  .columna_e, .graficos_e{
    background-color: rgba(48,255,0,0.5) !important;
  }
  .columna_n, .graficos_n{
    background-color: rgba(214,255,0,0.5) !important;
  }
  .columna_s, .graficos_s{
    background-color: rgba(255,108,0,0.5) !important;
  }
  .columna_d, .graficos_d{
    background-color: rgba(255,0,0,0.5) !important;
  }
  .graficos-auto-tc{
    border:2px solid #000;
  }
  .graficos-cabezera{
    border:2px solid #000;
    display: flex;
    flex-flow: row wrap;
  }
  .graficos-cabezera .grafico-cab-1{
    border:2px solid rgba(255,0,0,0.5);
    background-color: rgba(255,0,0,0.5);
    flex-grow: 6;
    text-align: center;
  }
   .graficos-cabezera .grafico-cab-2{
    border:2px solid  rgba(255,108,0,0.5);
    background-color:  rgba(255,108,0,0.5);
    flex-grow: 1;
    text-align: center;
  }
  .graficos-cabezera .grafico-cab-3{
    border:2px solid rgba(214,255,0,0.5);
    background-color: rgba(214,255,0,0.5);
    flex-grow: 2;
    text-align: center;
  }
  .graficos-cabezera .grafico-cab-4{
    border:2px solid  rgba(48,255,0,0.5);
    background-color:  rgba(48,255,0,0.5);
    flex-grow: 1;
    text-align: center;
  }