.clearfix:after { 
    content: "";
    clear: both;
  }
   
  body {
    position: relative;
    width: 21cm;  
    height: 29.7cm; 
    margin: 0 auto; 
    color: #001028;
    background: #ffffff; 
    font-family: Arial, sans-serif; 
    font-size: 12px; 
    font-family: Arial;
  }
  .contenedor{
      width: 80%;
  }
  .contenedor .logo{
      width: 100%;
  }
  .contenedor .logo #logo{
      width: 100%;
      border: 1px solid blue;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  table tr:nth-child(2n-1) td {
    background: #F5F5F5;
  }
  
  table th, table td { 
    text-align: center;
  }
  
  table th {
    padding: 5px 20px;
    color: #5D6975;
    white-space: nowrap;        
    font-weight: normal;
  }