.clearfix:after { 
  content: "";
  clear: both;
}
 
body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #001028;
  background: #ffffff; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
}
.logo{
  width: 100%;
}
.logo .int_logo{
  width: 50%;
  margin: 0 auto;
}
.cabeza{
 border-radius: 10px;
}
.cabeza .izq{
  width: 34%;
  float: left;
  left: 0px;
  text-align: center;
  border-right: 5px solid #000;
   background-color: #fdfbfb;
}
.cabeza .der{
  width: 64%;
  float: right;
  right: 0px;
  text-align: center;
  border-left: 5px solid #000;
  padding-bottom: 6px;
  background-color: #e9e9e9;
}
.cuerpo{
  width: 100%;
  margin-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}
.cuerpo .contenedor-p .centrar .texto{
  margin-bottom: 10px;
  border-bottom: 2px dashed #000;
  text-align: center;
}